<div class="jumbotron jumbotron-fluid jumbotron-show-edit">
  <h1 class="create-title"><%= @cocktail.name %></h1>
</div>

<div class="container w-50">
  <h3><%= @cocktail.name %></h3>
  <div class="ingredient_card">
    <div class="ingredients">
      <p><strong>Ingredients</strong></p>
      <% @cocktail.doses.each do |dose| %>
        <p> <%= dose.description %> - <%= dose.ingredient.name %></p>
      <% end %>
    </div>
    <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail.id), class: "btn btn-primary show-btn" %>
  </div>
</div>

