<div class="jumbotron jumbotron-fluid jumbotron-show-edit">
  <h1 class="create-title"><%= @cocktail.name %></h1>
</div>

<div class="my-container w-50">
  <div class="d-flex justify-content-between align-items-center">
    <h3><%= @cocktail.name %></h3>
    <%= link_to "Delete", cocktail_path(@cocktail.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary btn-del" %>
  </div>

  <div class="info-card">
    <div class="individual-image-card">
      <% if @cocktail.photo.attached? %>
        <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <div class="card-image-empty">No Photo Provided</div>
      <% end %>
    </div>

    <div class="ingredient_card">
      <div class="ingredients">
        <p><strong>Ingredients</strong></p>
        <% @cocktail.doses.each do |dose| %>
          <p> <%= dose.description %> - <%= dose.ingredient.name %></p>
        <% end %>
      </div>
      <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail.id), class: "btn btn-primary show-btn" %>
    </div>
  </div>

  <div class="description-card">
    <% if @cocktail.description.nil? %>
      <%= link_to "Create a discription", edit_cocktail_path(@cocktail.id), class: "btn btn-primary" %>
    <% else %>
      <div class="p-4">
        <p><strong>Description</strong></p>
        <p><%= @cocktail.description %></p>
      </div>
    <% end %>
  </div>
</div>

