<div class="jumbotron jumbotron-fluid jumbotron-new-edit">
  <h1 class="create-title">Create a new dose for <%= @cocktail.name %></h1>
</div>

<div class="my-container w-50">
    <div class="form-create">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
