<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-mine">
      <%= link_to "Home", cocktails_path, class: "my-btn" %>
      <i class="fas fa-glass-martini-alt"></i>
      <%= link_to "Create a Cocktail", new_cocktail_path, class: "my-btn" %>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="socials">
        <a href="https://github.com/alfiehiscox"><i class="fab fa-github"></a></i>
        <a href="www.linkedin.com/in/alfie-h"><i class="fab fa-linkedin"></i></a>
        <i class="fab fa-facebook-square"></i>
      </div>
    </div>
  </body>
</html>
